:root {
    --color-white: #FFFFFF;
    --color-text-primary: #666676;
    --color-button-primary: #61CDA6;
    --color-button-primary-hover: #47B08B;
    --color-page: #fafaff;
    --transition-primary: 260ms ease-in-out;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: var(--color-page);
    color: var(--color-text-primary);
    &.no-scroll {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    margin-top: 30px;
    padding-bottom: 50px;
}

h1.title {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-text-primary);
    text-transform: uppercase;
}
h2.title {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-text-primary);
    text-transform: uppercase;
}
h3.title {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text-primary);
    text-transform: uppercase;
}

.header {
    background-color: #4B4AEF;

    .header-wrapper {
        padding: 14px 0px;
        background-color: #4B4AEF;
        min-width: 345px;

        .nav-item {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            transition: var(--transition-primary);
            margin-right: 1rem;
            white-space: nowrap;
        }

        .header-select {
            position: relative;

            .header-select-head {
                color: #FFFFFF;
                width: 120px;
                padding: 4px 20px 4px 4px;
                background: #7675F9;
                border-radius: 5px;
                cursor: pointer;
                position: relative;

                .header-select-head__text {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 65%;
                }
                &::after {
                    content: "";
                    min-width: 12px;
                    position: absolute;
                    right: 6px;
                    height: 5px;
                    background-image: url(../images/selectArrow.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    transition: var(--transition-primary);
                }
            }
            .header-select-dropdown {
                position: absolute;                
                z-index: 3;
                transition: var(--transition-primary);
                pointer-events: none;
                opacity: 0;
                top: 30px;
                left: 0;
                background-color: var(--color-white);
                padding: 20px 0;
                border-radius: 5px;
                box-shadow: 4px 5px 20px 0px rgba(74, 105, 165, 0.16);
                max-width: 180px;
                width: 180px;
                border: 1px solid rgba(0, 0, 0, .175);

                .header-select-dropdown__item {
                    padding: 4px 16px;
                    transition: var(--transition-primary);
                    cursor: pointer;
                    
                    .text {
                        width: 100%;
                        color: var(--color-text-primary);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        margin-left: 1px;
                    }
                    &:hover {
                        background-color: #e5e5f8;
                    }
                }
                .header-select-dropdown__button {
                    color: var(--color-button-primary);
                    text-transform: uppercase;
                    border: none;
                    background-color: transparent;
                    font-weight: 700;
                    text-align: left;
                    padding: 0;
                    white-space: nowrap;
                    font-size: 12px;

                    svg {
                        min-width: 16px;
                    }
                }
            }
            &.active {
                .header-select-head {
                    &::after {
                        transform: rotate(-180deg);
                    }
                }
                .header-select-dropdown {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
        .burger-button {
            height: 20px;
            cursor: pointer;
            &.active {
                .bar:nth-child(1) {
                    -webkit-transform: translateY(8px) rotate(45deg);
                    -ms-transform: translateY(8px) rotate(45deg);
                    transform: translateY(8px) rotate(45deg);
                }
                .bar:nth-child(2) {
                    height: 0;
                    min-height: 0;
                }
                .bar:nth-child(3) {
                    -webkit-transform: translateY(-8px) rotate(-42deg);
                    -ms-transform: translateY(-8px) rotate(-42deg);
                    transform: translateY(-8px) rotate(-42deg);
                }
            }
            .bar {
                width: 30px;
                min-height: 4px;
                border-radius: 2px;
                background-color: #45FFCD;
                transition: var(--transition-primary);
            }
        }
        .burger-blur {
            position: fixed;
            top: 70px;
            bottom: 70px;
            width: 100%;
            height: calc(100% - 70px);
            left: 0;
            z-index: 10;
            backdrop-filter: blur(2px);
            transition: var(--transition-primary);
            opacity: 0;
            pointer-events: none;
            &.active {
                opacity: 1;
                pointer-events: all;
                .burger-menu {
                    transform: translateX(0);
                }
            }
        }
        .burger-menu {
            background-color: var(--color-white);
            padding: 20px 15px 100px;
            min-width: 150px;
            height: calc(100vh - 70px);
            transition: var(--transition-primary);
            transform: translateX(100%);
            box-shadow: 100vw 100vw 0 100vw var(--color-white);

            .burger-menu-list {
                list-style: none;
                padding-left:  0;

                .burger-menu-list__item {
                    color: var(--color-text-primary);
                    font-weight: 600;
                    padding: 4px 0;

                    a {
                        color: var(--color-text-primary);
                        text-decoration: none;
                    }

                    &.active a {
                        color: var(--color-button-primary);
                    }
                }
            }

            .logout-button {
                color: #FF6C6C;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}

.main {
    flex: 1 0 auto;
}

.action-panel {
    background-color: var(--color-white);
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 516px;
    margin-left: auto;

    .action-link {
        color: #A8A8BE;
        text-decoration: none;
        font-weight: 500;
        white-space: nowrap;

        path {
            fill: #A8A8BE;
        }
        &.active {
            color: #60CDA6;

            path {
                fill: #60CDA6;
            }
        }
    }
    .update {
        background-color: #E5E5F8;
        width: 25px;
        height: 25px;
        background-image: url(../images/updateIcon.svg);
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 5px;
    }
}


.company-info {
    color: var(--color-text-primary);
    font-size: 14px;
    .bold {
        font-weight: 600;
    }
}

.product-item {
    background-color: var(--color-white);
    border: 1px solid #BFBFD9;
    border-radius: 10px;
    padding: 10px;

    &.padding {
        padding: 30px;
    }
    .product-img {
        width: 80px;
        border-radius: 5px;
    }
    .review-img {
        width: 110px;
        border-radius: 5px;
        object-fit: contain;
        height: fit-content;
    }
    .product-title {
        font-size: 14px;
        font-weight: 700;
        color: var(--color-text-primary);
        text-transform: uppercase;
    }
    .product-info {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        color: var(--color-text-primary);
        &.small {
            font-size: 12px;
        }
    }
    .settings {
        width: 33px;
        height: 33px;
        padding: 0;
    }
    .product-show {
        background-image: url(../images/product-show.svg);
        background-position: top 12px center;
        background-repeat: no-repeat;
        background-color: #FAFAFF;
        border: 1px solid #A8A8BE;
        border-radius: 5px;
        width: 33px;
        height: 33px;
        transform: rotate(180deg);

        &.active {
            transform: rotate(0deg);
        }
    }
    .review-show {
        background-image: url(../images/product-show.svg);
        background-position: top 11px center;
        background-repeat: no-repeat;
        background-color: #E5E5F8;
        border: none;
        border-radius: 10px;
        width: 30px;
        height: 30px;
        transform: rotate(0deg);
        align-self: flex-end;

        &.active {
            transform: rotate(180deg);
        }
    }
    .product-settings {
        font-size: 16px;
        color: var(--color-button-primary);
        border: none;
        background-color: transparent;
    }
    .edit-info {
        font-size: 8px;
        color: var(--color-text-primary);
        width: fit-content;
        margin-left: auto;
        align-self: flex-end;
        text-align: right;

        .text {
            margin: 0;
        }
    }

    .review-info {
        font-size: 8px;
        color: var(--color-text-primary);
        .text {
            margin: 0;
        }
    }

    .product-dropdown-info {
        opacity: 0;
        overflow: hidden;

        transition: var(--transition-primary);

        .text {
            color: var(--color-text-primary);
            font-size: 14px;
            font-weight: 500;
        }



        &.active {
            opacity: 1;
            max-height: fit-content;
            margin: 20px 0;
        }
        &.visible {
            opacity: 1;
            max-height: fit-content;
        }
    }
    .product-analytics {
        padding: 20px 15px;
        border: 1px solid var(--color-text-primary);
        border-radius: 10px;
        
        &.inner {
            padding: 0;
            border: none;
        }
        .title {
            color: var(--color-text-primary);
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .head {
            color: var(--color-text-primary);
            font-size: 16px;
            font-weight: 700;
        }
        .text {
            color: #A8A8BE;
            font-size: 16px;
            font-weight: 400;
            overflow-y: scroll;
            overflow-x: hidden;
            
            &.flow {
                max-height: 230px;
                padding-right: 5px;
            }
        }
    }

    .review-state {
        padding: 6px 12px;
        font-size: 12px;
        border-radius: 5px;

        &.error {
            color: var(--color-white);
            background-color: #FF6C6C;
        }
        &.await {
            color: var(--color-text-primary);
            background-color: #FFCF58;
        }
        &.accept {
            color: var(--color-text-primary);
            background-color: #95F5D3;
        }
    }

    .review-dropdown-text {
        opacity: 0;
        overflow: hidden;

        transition: var(--transition-primary);

        .title {
            color: var(--color-text-primary);
            font-size: 14px;
            font-weight: 500;
        }

        .review-overflow {
            padding: 14px 11px 14px 20px;
            border-radius: 5px;
            background-color: #E5E5F8;
            display: block;
            outline: none;
            border: none;
            resize: none;
            color: var(--color-text-primary);

            &.auto {
                overflow-y: hidden;
            }
        }

        &.active {
            opacity: 1;
            max-height: fit-content;
        }
    }
}

.overflow-hide::-webkit-scrollbar {
    display: none;
}
.overflow-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search-button {
    border: 1px solid #A8A8BE;
    border-radius: 50px;
    font-size: 12px;
    color: #A8A8BE;
    background-color: transparent;
    padding: 6px 10px;

    input {
        border: none;
        background-color: transparent;
        outline: none;
        width: 142px;
        color: #a8a8be;

        &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: #a8a8be;
        }
    }
}
.shops-table {
    color: var(--color-text-primary);
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #BFBFD9;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;

    .shops-table-row {

        &:hover {
            background-color: #e5e5f880;
        }
        &:first-child:hover {
            background-color: var(--color-white)
        }

        .shops-table-head {
            font-weight: 600;
            font-size: 12px;
            border: 1px solid #BFBFD9;
            padding: 12px 8px;
            vertical-align: bottom;

            &.vertical {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg);
                text-align: left;
                vertical-align: top;
                padding: 12px 6px;

                div {
                    max-height: 14ch;
                }
            }
        }


        .shops-table-cell {
            border: 1px solid #BFBFD9;
            text-align: center;
            vertical-align: middle;
            padding: 10px 10px;

            &:first-child {
                text-align: left;
                width: 23%;

                div {
                    cursor: pointer;

                    img {
                        width: 20px;
                    }
                }
            }

            .name {
                // overflow: hidden;
                // white-space: nowrap;
                // text-overflow: ellipsis;
                display: inline-block;
                max-width: 80%;
                text-align: left;
            }
            button {
                background-color: transparent;
                border: none;
                width: 16px;
                height: 16px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 80%;
                margin: 2px;
                padding: 0;
            }
            button.delete {
                background-image: url(../images/deleteTableIcon.svg);
            }
            button.edit {
                background-image: url(../images/editTableIcon.svg);
            }
        }
    }
}

.input-balance {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #BFBFD9;
    outline: none;
    text-align: right;
    color: #a8a8be;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 20px;
    width: 100px;
    
    &.bold {
        font-size: 18px;
        font-weight: 600;
        padding: 7px 20px;
    }
}
.p-title {
    color: var(--color-text-primary);
    font-size: 16px;
}
.p-text {
    color: var(--color-text-primary);
    font-size: 12px;

    &.size {
        font-size: 16px;
    }

    &.overflow-ellipse {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}



.primary-button {
    display: block;
    text-decoration: none;
    padding: 12px 18px;
    color: var(--color-white);
    background-color: var(--color-button-primary);
    transition: var(--transition-primary);
    width: fit-content;
    white-space: nowrap;
    border: none;
    font-size: 14px;
    border-radius: 50px;
    line-height: 1.2;
    font-weight: 700;

    &.large {
        padding: 16px 45px;
    }
    &.long {
        width: 100%;
        text-align: center;
        // padding: 10px 70px;
    }
    &.blue {
        background-color: #4B4AEF;
    }

    &.shadow {
        box-shadow: 0px 15px 40px 0px rgba(41, 43, 107, 0.3); 
    }
    &.uppercase {
        text-transform: uppercase;
    }
    &.border-button {
        border: 1px solid var(--color-button-primary);
        color: var(--color-button-primary);
        background-color: var(--color-white);
        font-weight: 400;
    }
    &:active {
        background-color: var(--color-button-primary-hover);
    }
    &.border-button:active {
        border: 1px solid var(--color-button-primary-hover);
        color: var(--color-white);
        background-color: var(--color-button-primary-hover);
    }
    &.blue:active {
        background-color: #3A3ABC;;
    }
    &.invalid, &.invalid:hover, &.invalid:active {
        background-color: #FF6C6C !important;
    }
}

.footer {
    flex-shrink: 0;
}

.pagination {
    .pagination__item {
        font-size: 16px;
        font-weight: 700;
        color: #A8A8BE;
        &.active {
            color: var(--color-text-primary)
        }
    }
    .pagination-button {
        width: 40px;
        height: 6px;
        background-image: url(../images/paginationArrow.svg);
        background-position: center center;
        background-repeat: no-repeat;

        &.right {
            transform: rotate(180deg);
        }
    }
}

.pagi-count {
    .text {
        color: #A8A8BE;
        font-size: 16px;
    }
    span {
        width: 40px;
        height: 40px;
        border: 1px solid #BFBFD9;
        color: #BFBFD9;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        font-weight: 700;
        cursor: pointer;

        &.active {
            background-color: #E5E5F8;
            border: 1px solid #E5E5F8;
            color: #A8A8BE;
        }
    }
}
.input-wrapper {
    position: relative;
}
.input-wrapper.promo {
    max-width: 450px;
}
.input-hint {
    position: absolute;
    bottom: 8px;
    right: 10px;
    img {
        cursor: pointer;
    }
}
.keyword {
    padding: 7px 15px;
    background-color: #E5E5F8;
    color: #A8A8BE;
    gap: 10px;
    border-radius: 16px;
    font-size: 14px;
    
    .remove-button {
        width: 20px;
        height: 20px;
        background-image: url(../images/deleteIcon.svg);
        background-color: transparent;
        border: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
.primary-input-label {
    color: var(--color-text-primary);
    font-size: 14px;
}
.primary-input {
    width: 100%;
    border-radius: 5px;
    background-color: #e5e5f8;
    padding: 11px 15px;
    color: #333;
    font-size: 14px;
    border: none;
    outline: none;

    &.invalid, &:invalid {
        background-color: #FFCECE;
        color: #FF6C6C;
    }

    &::placeholder {
        color: #a8a8be;
    }
    &:focus::placeholder {
        opacity: 0;
    }

    &.small {
        font-size: 12px;
    }
    &.small+.input-hint {
        bottom: 6px;
    }
}


.select-inner {
    position: relative;

    &.border {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #A8A8BE;
        background: #fafaff;
        color: #a8a8be;
        font-size: 12px;
        position: relative;
        padding: 0 15px 0 10px;
        display: flex;
        align-items: center;


        .select-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .select-dropdown {            
            width: 100%;
        }
    }

    &.active {
        .select-head {
            svg {
                transform: rotate(180deg);
            }
        }
        .select-dropdown {
            opacity: 1;
            pointer-events: all;
        }
    }

    .select-head {
        color: #A8A8BE;
        cursor: pointer;
        font-size: 14px;

        svg {
            transition: var(--transition-primary);
        }
    }


    .select-dropdown {
        position: absolute;
        border-radius: 5px;
        background: #fff;
        box-shadow: 4px 5px 20px #4a69a529;
        border: 0;
        right: 0;
        top: 40px;
        opacity: 0;
        pointer-events: none;
        padding: 8px 0 6px;
        z-index: 2;

        .select-dropdown__item {
            color: #666676;
            font-size: 16px;
            padding: 5px 16px;
            white-space: nowrap;
            margin-bottom: 2px;
            cursor: pointer;

            &:hover {
                background-color: #e5e5f8;;
            }
        }
    }
}


.security {
    color: var(--color-button-primary);
    font-size: 18px;
}

.market-check {
    border-radius: 5px;
    border: 1px solid #BFBFD9;
    background: #fafaff;
    height: 64px;
    width: 100%;
    padding: 0 10px;
    color: #666676;
    font-size: 18px;
    margin-right: 20px;

    .hint-primary {
        margin-left: auto;
    }
}

.number-count-list {
    list-style: none;
    counter-reset: item;
    padding: 0;
    font-size: 14px;
    
    img {
        width: 100%;
        border-radius: 30px;
        max-width: 320px;
        margin: 10px 0px;
    }

    .number-count-list__item {
        counter-increment: item;
        margin-bottom: 5px;

        .primary-link {
            color: #4b4aef;
            text-decoration: underline !important;
            text-decoration-skip-ink: none;
        }
         
        &::before {
            content: counter(item) ".";
            color: var(--color-text-primary);
            display: inline-block;
            margin-right: 6px;
            height: 100%;
        }
    }
}

.tariff-flex {
    gap: 30px;

    .tariff-flex-col {
        width: 100%;
        gap: 6px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #9E8CEF;
        background-color: var(--color-white);

        &.no-space {
            border-radius: 10px;
            gap: 0;
            background-color: #9E8CEF;
            white-space: nowrap;
            padding: 0 40px;

            .tariff-flex-col__item {
                background-color: #9E8CEF;
                color: var(--color-white);
                text-transform: uppercase;
            }

        }
        .tariff-flex-col__item {
            color: var(--color-text-primary);
            height: 44px;
            background-color: var(--color-white);
            // border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            margin: 0 10px;
            padding: 14px 16px;
            border-radius: 5px;
            border: 1px solid #BFBFD9;

            &.head {
                background-color: #9E8CEF;
                color: var(--color-white);
                font-weight: 700;
                text-transform: uppercase;
                font-size: 20px;
                height: 50px;
                border-radius: 0;
                margin: 0;
                border: none;
                margin-bottom: 4px;
            }
            &.action {
                border: none;
                margin: 20px 0;

                .primary-button {
                    padding: 16px 0px;
                    width: 140px;
                }

            }

            .mobile-name {
                color: #755CBB;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

.auth-page {
    width: 100%;
    height: 100%;
    gap: 40px;
    min-height: 100vh;
    background-image: url(../images/login-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .auth-info {
        width: 100%;
        height: 100%;
        padding: 20px 40px 0 40px;
        background-image: none;
        color: var(--color-white);


        .auth-info-inner {
            max-width: 420px;

            .logo {
                width: 240px;
            }

            h1 {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 30px;
            }
            .auth-info-text {
                color: #fff;
                font-size: 14px;
                font-weight: 400;
                margin-top: 20px;
                text-align: center;

                p {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .auth-form {
        width: 100%;
        padding: 20px;
        padding-top: 0;

        .auth-form-inner {
            width: 100%;
            max-width: 420px;
            padding: 40px 30px;
            border-radius: 10px;
            background: #fff;

            .auth-form-title {
                color: var(--color-text-primary);
                font-size: 20px;
                text-align: center;
                font-weight: 600;
                margin-bottom: 30px;
            }

            .primary-button {
                min-width: 145px;
            }

            .auth-links {
                width: 100%;

                .auth-links__item {
                    color: var(--color-text-primary);
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }

}


.loader {
    min-width: 16px;
    height: 16px;
    border: 1px solid #7675F9;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
  
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
} 

/********Responsive**********/
@media (min-width: 575.98px) {
    .header {
        .header-wrapper {
            .header-select {
                .header-select-dropdown {
                    max-width: 350px;
                    width: 350px;

                    .header-select-dropdown__item {
                        .text {                        
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .tariff-flex {    
        .tariff-flex-col {
            width: 100%;
        }
    }
}

@media (min-width: 767.98px) {
    body, .p-text, .p-title {
        font-size: 18px;
        &.size {
            font-size: 18px;
        }
    }
    .p-title {
        &.medium {
            font-weight: 500;
        }
    }
    .search-button {
        font-size: 16px;
        padding: 6px 30px;
    }
    .copy-icon {
        width: 20px;
    }
    .company-info {
        font-size: 18px;
    }
    .input-hint {
        bottom: 16px;
        right: 20px;
    }
    .calendar {
        color: #A8A8BE;
    } 

    .keyword {
        font-size: 16px;
        color: var(--color-text-primary);
        padding: 12px 12px 12px 22px;
        border-radius: 30px;
    }

    .number-count-list {
        font-size: 18px;
    }
    .header {
        .header-wrapper {
            padding: 20px 0px;
            .nav-item {
                font-size: 18px;
            }
          .header-select {
            .header-select-head {
                font-size: 14px;
                font-weight: 500;
                padding: 7px 20px 8px 10px;
                margin-right: 20px;

                &::after {
                    content: "";
                    min-width: 16px;
                    position: absolute;
                    right: 8px;
                    height: 10px;
                    background-image: url(../images/selectArrow.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 14px;
                    transition: var(--transition-primary);
                }

            }
            .header-select-dropdown {
                top: 46px;

              .header-select-dropdown__button {
                font-size: 14px;

                svg {
                    width: 22px;
                    height: 20px;
                }
              }
            }
          }
        }
      }
    .shops-table {   
        border-radius: 20px;

        .shops-table-row {     

            .shops-table-head {  
                font-size: 18px;
                padding: 30px 18px;


            }
            .shops-table-cell {
                padding: 42px 20px;

                .icon-size {
                    width: 24px;
                }

                button {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .action-panel {
        background-color: var(--color-white);
        padding: 10px 20px;
        border-radius: 20px;
        width: 100%;
        max-width: 516px;
        margin-bottom: 40px !important;

        .update {
            background-color: #E5E5F8;
            width: 40px;
            height: 40px;
            background-image: url(../images/updateIcon.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 60%;
            border: none;
            border-radius: 10px;
        }
    }
    h1.title {
        font-size: 24px;
    }
    h2.title {
        font-size: 24px;
    }
    h3.title {
        font-size: 18px;
    }
    .header {
        .header-wrapper {
          .header-select {
            .header-select-head {
              width: 180px;
              .header-select-head__text {
                width: 80%;
              }
            }
          }
        }
    }
    .product-item {
        padding: 40px;
        border-radius: 20px;

        &.padding {
            padding: 40px;
        }

        .product-stat {
            position: absolute;
            right: 0;
        }
        .product-main {
            padding-right: 200px;
        }

        .product-title {
            font-size: 24px;
            max-width: 550px;
        }
        .product-info {
            font-size: 18px;
            margin-bottom: 0;

            &.small {
                font-size: 18px;
            }
        }

        .product-settings {
            font-size: 18px;
        }
        .edit-info {
            font-size: 14px;
            gap: 10px;
        }
    
        .review-info {
            font-size: 14px;
            gap: 10px;
            position: absolute;
            bottom: 0;
        }
        .review-show {
            width: 40px;
            height: 40px;
            background-position: top 16px center;
        }
        .product-show {
            width: 40px;
            height: 40px;
            background-position: top 15px center;
        }
        .settings {
            width: 40px;
            height: 40px;
            img {
                width: 20px;
            }
          }
    
        .product-dropdown-info {
    
            .text {
                font-size: 16px;
            }
            &.visible {
                max-width: 250px;
            }
            &.stat {
                max-width: 150px;
            }
        }
    
        .review-state {
            font-size: 18px;
        }
    
        .review-dropdown-text {    
            .title {
                font-size: 18px;
            }
        }
    }
    .primary-input-label {
        font-size: 18px;
    }
    .primary-input {
        border-radius: 5px;
        padding: 16px 20px;
        font-size: 16px;
        &.small {
            font-size: 16px;
        }
        &.small+.input-hint {
            bottom: 16px;
        }
    }
    .primary-input::placeholder {
      font-size: 16px;
    }
    
    .select-inner {
        &.border {
            width: 80%;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #A8A8BE !important;
            background: #fafaff;
            color: #a8a8be;
            font-size: 16px;
            position: relative;
            padding: 0 15px 0 15px;
            display: flex;
            align-items: center;

            .select-head {
                svg {
                    width: 15px;
                    height: 14px;
                }
            }

        }

        .select-head {
            font-size: 16px;
        }
        .select-dropdown {
            right: auto;
            left: 0;
        }
    }
    .primary-button {
        font-size: 14px;        
        padding: 16px 36px;
        &.border-button {
            font-weight: 700;
        }
        &.blue.large {
            padding: 20px 90px;
        }
    }
    .main-container {
        margin-top: 60px;
        padding-bottom: 100px;
    }
    .tariff-flex {    
        .tariff-flex-col {
            width: calc(50% - 15px);
        }
    }
}



@media (min-width: 991.98px) {
    .input-balance {

        
        &.bold {
            background: #fff;
            border-radius: 5px;
            border: 1px solid #BFBFD9;
            text-align: right;
            color: #a8a8be;
            font-size: 24px;
            font-weight: 600;
            padding: 14px 20px;
            width: 100%;
        }
    }
    .new-store {
        max-height: 1000px;
    }

    .product-item {
        &.fix {
            max-width: 530px;
        }
    }

    .shops-table {
        .shops-table-row {
          .shops-table-head {
            &.vertical {
                writing-mode: horizontal-tb;
                transform: rotate(0deg);
                text-align: left;
                vertical-align: middle;
                padding: 30px 18px;
            }
          }
        }
      }
    .tariff-flex {    
        .tariff-flex-col {
            width: calc(33.333% - 20px);
        }
    }


    .logo {
        margin-right: 3rem;
        img {
            min-width: 207px;
        }
    }

    .auth-page {
        background-image: none;
        gap: 0;
        height: 100vh;
    
        .auth-info {
            width: 50%;
            padding: 0 40px;
            background-image: url(../images/login-bg.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;    
    
            .auth-info-inner {
                max-width: 510px;
    
                .logo {
                    width: 207px;
                }
    
                h1 {
                    font-size: 36px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-top: 50px;
                }
                .auth-info-text {
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 40px;
                    text-align: left;
    
                    p {
                        margin-bottom: 18px;
                    }
                }
            }
        }
    
        .auth-form {
            width: 50%;
    
            .auth-form-inner {
                width: 100%;
                max-width: 420px;
                padding: 40px 60px;
                border-radius: 20px;
                border: 1px solid #BFBFD9;
                background: #fff;
    
                .auth-form-title {
                    color: var(--color-text-primary);
                    font-size: 24px;
                    text-align: center;
                    font-weight: 400;
                    margin-bottom: 40px;
                }
    
                .auth-links {
                    width: calc(100% + 60px);
    
                    .auth-links__item {
                        color: var(--color-text-primary);
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    
    }

}

@media (min-width: 1199.98px) {
    .tariff-flex {
        gap: 6px;
        overflow: hidden;
    
        .tariff-flex-col {
            width: 100%;
            gap: 6px;
            border-radius: 0px;
            border: none;
            background-color: transparent;
    
            &.no-space {
                border-radius: 20px 10px 10px 20px;
                gap: 6px;
                width: 100%;
                background-color: #9E8CEF;
                white-space: nowrap;
                padding: 0 40px;
    
                .tariff-flex-col__item {
                    background-color: #9E8CEF;
                    color: var(--color-white);
                    text-transform: uppercase;
                    font-size: 18px;
                    border-radius: 10px;


                }
    
            }
            &:last-child {
                .tariff-flex-col__item {
                    &.head {
                        border-radius: 10px 20px 10px 10px;
                    }
                }                
            }
            .tariff-flex-col__item {
                height: 80px;
                border-radius: 0px;
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                padding: 0 5px;
                border: none;
    
                &.head {
                    background-color: #9E8CEF;
                    color: var(--color-white);
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 20px;
                    height: 80px;
                    border-radius: 10px;
                    margin: 0;
                    margin-bottom: 0px;


                }
                &.action {
                    margin: 0;
    
                    .primary-button {
                        padding: 9px 14px;
                        width: fit-content;
                        min-width: 110px;
                        font-size: 14px;
                    }
    
                }

                .check-icon {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1420px;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1420px;
    }
}
  @media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
    max-width: 1420px;
    }
}
  @media (min-width: 768px) {
    .container, .container-md, .container-sm {
    max-width: 1420px;
    }
}
  @media (min-width: 576px) {
    .container, .container-sm {
    max-width: 1420px;
    }
}



/* disable hover */
@media (min-width: 991.98px) {
    .primary-button {
        &:hover {
            background-color: var(--color-button-primary-hover);
        }
        &.border-button:hover {
            border: 1px solid var(--color-button-primary-hover);
            color: var(--color-white);
            background-color: var(--color-button-primary-hover);
        }
        &.blue:hover {
            background-color: #3A3ABC;;
        }
    }
    .header {
        .header-wrapper {
            .nav-item {
        
                &:hover {
                    color: #95f5d3;
                }
            }
        }
      }

}